name: iso-filecoin
env:
  CI: true
  FORCE_COLOR: 1
on:
  push:
    branches:
      - main
    paths:
      - 'packages/iso-filecoin/**'
      - .github/workflows/iso-filecoin.yml
      - pnpm-lock.yaml
  pull_request:
    paths:
      - 'packages/iso-filecoin/**'
      - .github/workflows/iso-filecoin.yml
      - pnpm-lock.yaml
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2.4.0
        with:
          version: 8
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: pnpm
      - run: pnpm install
      - run: pnpm run build
      - run: pnpm -r --filter iso-filecoin run lint
      - run: pnpm -r --filter iso-filecoin run test
      - run: pnpm -r --filter iso-filecoin exec depcheck
