name: iso-passkeys
env:
  CI: true
  FORCE_COLOR: 1
on:
  push:
    branches:
      - main
    paths:
      - 'packages/iso-passkeys/**'
      - '.github/workflows/iso-passkeys.yml'
      - '.github/workflows/release.yml'
      - 'pnpm-lock.yaml'
  pull_request:
    paths:
      - 'packages/iso-passkeys/**'
      - '.github/workflows/iso-passkeys.yml'
      - 'pnpm-lock.yaml'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: 8
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run build
      - run: pnpm -r --filter iso-passkeys run lint
      - run: pnpm -r --filter iso-passkeys run test
      - run: pnpm -r --filter iso-passkeys exec depcheck
