name: iso-did
env:
  CI: true
  FORCE_COLOR: 1
on:
  push:
    branches:
      - main
    paths:
      - 'packages/iso-did/**'
      - .github/workflows/iso-did.yml
      - pnpm-lock.yaml
  pull_request:
    paths:
      - 'packages/iso-did/**'
      - .github/workflows/iso-did.yml
      - pnpm-lock.yaml
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: pnpm
      - run: pnpm install
      - run: pnpm run build
      - run: pnpm -r --filter iso-did run lint
      - run: pnpm -r --filter iso-did run test
      - run: pnpm -r --filter iso-did exec depcheck
