name: Release
env:
  CI: true
  FORCE_COLOR: 1

permissions:
  contents: write
  pull-requests: write
  pages: write
  id-token: write

on:
  push:
    branches:
      - main
jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      paths_released: ${{ steps.release.outputs.paths_released }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          # needs to be personal token so release PRs can run workflows
          token: ${{ secrets.GH_TOKEN }}
          config-file: .github/release-please-config.json
          manifest-file: .github/release-please-manifest.json
  npm:
    needs: release
    if: |
      contains(fromJson(needs.release.outputs.paths_released), 'packages/iso-base') ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/iso-filecoin') ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/iso-passkeys') ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/iso-did') ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/iso-signatures') ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/iso-web') ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/iso-kv') ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/iso-websocket')  ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/iso-ucan') ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/iso-ledger') ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/configs') ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/docs')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          registry-url: "https://registry.npmjs.org"
          cache: pnpm
      - run: pnpm install
      - run: pnpm run lint
      - run: pnpm -r publish --access=public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
  docs:
    needs: release
    if: |
      contains(fromJson(needs.release.outputs.paths_released), 'packages/iso-base') ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/iso-filecoin') ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/iso-passkeys') ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/iso-did') ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/iso-signatures') ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/iso-web') ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/iso-kv') ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/iso-websocket') ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/iso-ucan') ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/iso-ledger') ||
      contains(fromJson(needs.release.outputs.paths_released), 'packages/docs')
    uses: ./.github/workflows/reusable-docs.yml
